@charset "UTF-8";
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(244, 75%, 57%);
    --second-color: hsl(249, 64%, 47%);
    --title-color: hsl(244, 12%, 12%);
    --text-color: hsl(244, 4%, 36%);
    --body-color: hsl(208, 97%, 85%);
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
  }


@media screen and (min-width: 1024px) {
  :root {
    --h2-font-size: 1.75rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--body-color);
    font-family:var(--body-font);
    color:var(--text-color);
}

input,button{
    font-family: var(--body-font);
    border: none;
    outline: none;
}
img{
    max-width: 100%;
    height: auto;
}

.login_inputs,.login_form,.login_content{
  display: grid;
}

.login_content{
  position: relative;
  height: 100vh;
  align-items: center;
}

.login_img{
  position: absolute;
  width: 100%;
  height: 100% ;
  object-fit: cover;
  object-position: center;
}

.login_form{
  position: relative;
  background-color: hsla(244 ,16%, 92% ,.6);
  border: 2px solid hsla(244 ,16%, 92% ,.75);
  margin-inline: 1.5rem;
  row-gap: 1.25rem;
  backdrop-filter: blur(20px);
  padding: 2rem;
  border-radius: 1rem;
  
}

.login_title{
  color: var(--title-color);
  font-size: var(--h2-font-size);
  margin-bottom: 0.5rem;
  
}

.login_title span{
  color: var(--first-color);
}

.login_description{
  font-size: var(--small-font-size);
}

.login_inputs{
  row-gap: .75rem;
  margin-bottom: 0.5rem;
}
.login_label{
  display: block;
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 0.25rem;
   
}

.login_input{
  width: 100%;
  padding: 14px 12px;
  border-radius: 6px;
  border: 2px solid var(--text-color);
  background-color: hsla(244 ,16%, 92% ,.6);
  color: var(--title-color);
  font-size: smaller;
  color: var(--title-color);
  font-weight: var(--smaller-font-size);
  font-weight: var(--font-medium);
  transition: border .4s;
}

.login_input::placeholder{
  color: var(--text-color);

}


.login_input:focus{
  border: 2px solid var(--first-color);
}

.login_input:valid{
  border: 2px solid rgb(118, 173, 35);
}

.login_box{
  position: relative;
}

.login_box .login_input{
  padding-right: 36px;

}

.login_eye{
  width: max-content;
  height: max-content;
  position: absolute;
  right: 0.75rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
  font-size: 1.25rem;
  cursor: pointer;
}

.login_check{
  display: flex;
  column-gap: .5rem;
  align-items: center;

}

.login_check-input{
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid var(--text-color);
  background-color: hsla(244 ,16%, 92% ,.2);
  border-radius: .25rem;

}

.login_check-input:checked{
  background: var(--first-color);
}

.login_check-input:checked::before{
content: '✔';
display: block;
color: white;
font-size: .75rem;
transform: translate(1.5px,-2.5px);
}

.login_check-label{
  font-size: var(--small-font-size);

}

.login_buttons{
  display: flex;
  column-gap: .75rem;
  margin-top: 2rem;
}

.login_button{
  width: 100%;
  padding: 14px 2rem;
  background: linear-gradient(180deg,var(--first-color),var(--second-color));
  color: #fff;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  box-shadow: 0 6px 24px hsla(244, 75%, 48%, .5);
  border-radius: 6px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.login_button-ghost{
  background: hsla(244 ,16%, 92% ,.6);
  border: 2px solid var(--first-color);
  color: var(--first-color);
  box-shadow: none;
}

.login_forgot{
   font-size: var(--smaller-font-size);
   font-weight: var(--font-semi-bold);
   color: var(--first-color);
   text-decoration: none;
}

#password:valid{
  border: 2px solid var(--first-color);
}
#code:valid{
  border: 2px solid var(--first-color);
}
.valid{
  border: 2px solid rgb(118, 173, 35) !important;
  
}


@media screen and (max-width:360px){
  .login_button{
    flex-direction: column;
  }


}


@media screen and (min-width:576px){
.login_form{
  width: 450px;
  justify-self: center;
}

  
}

@media screen and (min-width:1064px){
  .container{
    height: 100vh;

    display: grid;
    place-items: center;
  }

  .login_content{width: 1024px;
  height: 650px;}

  .login_img{
    border-radius: 3.5rem;
   box-shadow:  0 24px 48px hsla(244 ,75%, 36% ,.45);
  }

  .login_form{
    justify-self: flex-end ;
    margin-right: 4.5rem;

  }


  
}

